.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.virtual-footer-dynamic-content-element {
    max-width: var(--max-width);
    width: var(--line-width);
    margin-inline: var(--content-margin);
}

.virtual-footer-cm-padding {
    padding-bottom: var(--p-spacing) !important;
}

.virtual-footer-remove-flex {
    flex: 0 1 auto !important;
}

.virtual-footer {
    min-height: 528px;
}

.virtual-footer-delete-button {
    margin: 1em;
}

.virtual-footer-add-button {
    margin: 1em;
}