.markdown-preview-view.is-readable-line-width .markdown-preview-sizer>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer.cm-contentContainer>.cm-content>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.virtual-footer, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.inline-title, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.metadata-container {
    max-width: var(--max-width);
    width: var(--line-width);
    margin-inline: var(--content-margin) !important;
}

.virtual-footer-cm-padding {
    padding-bottom: var(--p-spacing) !important;
}

.virtual-footer-remove-flex {
    flex: 0 1 auto !important;
}

.virtual-footer {
    min-height: 528px;
}

.virtual-footer-add-button {
    margin: 1em;
    float: right;
}